.section-1 {
  h1 {
    font-weight: bold;
    text-align: center;
  }
}
.transaction-cards {
  .transaction-card {
    margin-bottom: 1rem;
    background-color: #ffffff52;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    cursor: pointer;
    backdrop-filter: blur(10px);

    &:hover {
      background-color: #05eeff49;
    }
    h2 {
      margin-bottom: 0;
    }
    ul {
      display: flex;
      align-items: start;
      flex-direction: column;
      li {
        display: flex;
        align-items: start;
        justify-content: space-between;
        list-style-type: none;
        flex-direction: column;
      }
    }
  }
}
