.transaction-page {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    color: #fff;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    li {
      background: rgba(0, 217, 255, 0.384);
      padding: 20px;
      color: #fff;
      border-radius: 24px;
      list-style-type: none;
      transition: 0.3s ease-in-out;
      &:hover {
        background: rgba(255, 255, 255, 0.397);
        color: rgb(0, 217, 255);
      }
      @media (max-width: 430px) {
        font-size: small;
        text-align: center;
      }
      @media (max-width: 360px) {
        font-size: x-small;
        text-align: center;
      }
    }
  }
}
